<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="menus" th:fragment="nav-menu">
    <!-- 第一层仅展示使用，不做跳转 -->
    <div class="menus_item">
        <nav class="items-center flex-1 hidden lg:flex">
            <ul class="flex flex-row list-none px-6 text-white">
                <li th:each="menuItem : ${menuFinder.getPrimary().menuItems}"
                    class="not-italic font-medium text-xs h-full relative flex flex-col items-center justify-center cursor-pointer text-center py-4 px-2">
                    <div class="nav-link text-sm block px-1.5 py-0.5 rounded-md relative uppercase cursor-pointer"
                         data-menu="Home"><span class="relative z-50" th:text="${menuItem.status.displayName}"></span>
                        <div class="menu-child origin-top-right absolute right-0 mt-2 bg-ob-deep-900 rounded-lg py-2 shadow-md">
                            <a th:each="menuItemChildren : ${menuItem.children}"
                               th:target="${menuItemChildren.spec.target?.value}"
                               th:href="@{${menuItemChildren.status.href}}"
                                 class="cursor-pointer hover:bg-ob-trans my-1 px-4 py-1 font-medium hover:text-ob-bright">
                                <span class="relative z-50" th:text="${menuItemChildren.status.displayName}"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <style>
            .menu-child{
                display: none;
            }
            .menus_item ul li:hover .menu-child{
                display: flex;
            }
        </style>

    </div>
</div>
</html>