<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="bot">
    <div id="bot-container" style="" class="">
        <div id="Aurora-Dia--body" style="--aurora-dia--linear-gradient: linear-gradient(130deg, #24c6dc, #5433ff 41.07%, #ff0099 76.05%); --aurora-dia--linear-gradient-hover: linear-gradient(
            to bottom,
            #5433ff,
            #ff0099
          ); --aurora-dia--platform-light: #ff0099;">
            <div id="Aurora-Dia--tips-wrapper" class="">
                <div id="Aurora-Dia--tips" class="Aurora-Dia--tips">请您轻一点，我是<span>很昂贵</span>的机器人哦!
                    O.O
                </div>
            </div>
            <div id="Aurora-Dia" class="Aurora-Dia">
                <div id="Aurora-Dia--eyes" class="Aurora-Dia--eyes">
                    <div id="Aurora-Dia--left-eye" class="Aurora-Dia--eye left"
                         style="transform: translateY(0px) translateX(0px);"></div>
                    <div id="Aurora-Dia--right-eye" class="Aurora-Dia--eye right"
                         style="transform: translateY(0px) translateX(0px);"></div>
                </div>
            </div>
            <div class="Aurora-Dia--platform"></div>
        </div>
    </div>
    <script>
        const AuroraDia = document.getElementById("Aurora-Dia");
        const tips = document.getElementById("Aurora-Dia--tips-wrapper");
        AuroraDia.addEventListener("mouseover", function () {
            AuroraDia.classList.add("active")
            tips.classList.add("active")
            setTimeout(() => {
                AuroraDia.classList.remove("active")
                tips.classList.remove("active")
            }, 2000)
        });
    </script>
</th:block>
</html>