<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="mobile-sidebar">
    <div class="App-Mobile-sidebar">
        <div id="App-Mobile-Profile" class="App-Mobile-wrapper" style="opacity: 0; transform: translateY(-20%);">
            <div class="flex flex-col justify-center items-center">
                <img class="diamond-avatar h-28 w-28 shadow-xl m-0"
                     th:src="@{${#strings.isEmpty(site.logo) ? ASSETS + '/img/ObsidianestLogo.png' : site.logo}}"
                     alt="avatar">
                <h2 class="text-center pt-4 text-4xl font-semibold text-ob-bright" th:text="${site.title}"></h2>
                <span class="h-1 w-14 rounded-full mt-2"
                      style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);">
            </span>
                <p class="pt-6 px-2 w-full text-sm text-center text-ob-dim" th:utext="${theme.config.sidebar.profile.profileDesc}"></p>
                <ul th:if="${not #lists.isEmpty(theme.config.sidebar.profile.socialMedia)}"
                    th:with="socialMedias = ${theme.config.sidebar.profile.socialMedia}"
                    class="flex flex-row justify-evenly flex-wrap w-full py-4 px-2 text-center items-center">
                    <a th:each="socialMedia : ${socialMedias}" th:href="${socialMedia.url}"
                       th:title="${socialMedia.name}" target="_blank">
                        <li class="diamond-clip-path diamond-icon">
                            <i style="font-size: 24px;" class="roozenfont" th:classappend="${socialMedia.icon}"></i>
                        </li>
                    </a>
                </ul>
                <ul class="grid grid-cols-3 pt-4 w-full px-2 text-lg" th:with="stats = ${siteStatsFinder.getStats()}">
                    <li class="col-span-1 text-center"><span class="text-ob-bright">[[${stats.post}]]</span>
                        <p class="text-base text-ob-dim">文章</p></li>
                    <li class="col-span-1 text-center"><span class="text-ob-bright">[[${stats.category}]]</span>
                        <p class="text-base text-ob-dim">分类</p></li>
                    <li class="col-span-1 text-center"><span class="text-ob-bright">[[${stats.visit}]]</span>
                        <p class="text-base text-ob-dim">访问量</p></li>
                </ul>
            </div>
            <ul th:with="menu = ${#strings.isEmpty(theme.config.nav.appMenu) ? menuFinder.getPrimary() : menuFinder.getByName(theme.config.nav.appMenu)}"
                class="flex flex-col justify-center items-center mt-8 w-full list-none text-ob-bright">
                <li th:each="menuItem : ${menu.menuItems}" th:onclick="go([[${menuItem.status.href}]])"
                    class="pb-2 cursor-pointer">
                    <div class="text-sm block px-1.5 py-0.5 rounded-md relative uppercase">
                        <span class="relative z-50" th:text="${menuItem.status.displayName}"></span>
                        <a th:each="menuItemChildren : ${menuItem.children}"
                           th:target="${menuItemChildren.spec.target?.value}"
                           th:href="@{${menuItemChildren.status.href}}"
                           class="cursor-pointer hover:bg-ob-trans my-1 px-4 py-1 font-medium hover:text-ob-bright">
                            <span class="relative z-50" th:text="${menuItemChildren.status.displayName}"></span>
                        </a>
                    </div>
                </li>
            </ul>
            <ul class="flex flex-col justify-center items-center mt-8 w-full list-none text-ob-bright">
                <li>
                    <a href="https://beian.miit.gov.cn/">
                        <b class="font-extrabold border-b-2 border-ob hover:text-ob"
                           th:text="${theme.config.basics.icp}"></b>
                    </a>
                </li>
                <li>
                    <a href="https://www.beian.gov.cn/portal/registerSystemInfo">
                        <b class="font-extrabold border-b-2 border-ob hover:text-ob"
                           th:text="${theme.config.basics.gongan}">
                        </b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</html>