<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navigator">
    <script type="text/javascript" th:src="@{/assets/js/navigator.js}"></script>
    <div data-v-49ffe232="" id="Ob-Navigator">
        <div id="returnTop" onclick="returnTop()" style="display: none" data-v-49ffe232="" class="Ob-Navigator-btt">
            <div data-v-49ffe232="">
                <svg data-v-703f9be5="" data-v-49ffe232="" class="svg-icon text-ob-bright" aria-hidden="true"
                     style="height: 1em; width: 1em;">
                    <use data-v-703f9be5="" href="#icon-back-to-top" fill="currentColor"
                         stroke="var(--background-primary)"></use>
                </svg>
            </div>
            <span data-v-49ffe232="" class="Ob-Navigator-tips">返回顶部</span></div>
        <div data-v-49ffe232="" class="Ob-Navigator-ball" onclick="navigatorClickHandler()">
            <div data-v-49ffe232=""
                 style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);">
                <svg id="scrollSvg1" data-v-729e93ea="" data-v-49ffe232="" class="svg-icon" aria-hidden="true">
                    <use data-v-729e93ea="" href="#icon-dots" fill="currentColor"
                         stroke="var(--background-primary)"></use>
                </svg>
                <svg id="scrollSvg2" data-v-703f9be5="" data-v-49ffe232="" class="svg-icon text-base stroke-2"
                     aria-hidden="true"
                     style="height: 1em; width: 1em;display: none">
                    <use data-v-703f9be5="" href="#icon-close" fill="currentColor"
                         stroke="var(--background-primary)"></use>
                </svg>
                <span id="scrollPercent" data-v-49ffe232="" class="text-sm"></span>
            </div>
        </div>
        <ul data-v-49ffe232="" class="Ob-Navigator-submenu">
            <li data-v-49ffe232="" id="Ob-Navigator-top"
                style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);">
                <div data-v-49ffe232="">
                    <svg data-v-729e93ea="" data-v-49ffe232="" class="svg-icon text-ob-bright" aria-hidden="true">
                        <use data-v-729e93ea="" href="#icon-back-to-top" fill="currentColor"
                             stroke="var(--background-primary)"></use>
                    </svg>
                </div>
                <span data-v-49ffe232="" class="Ob-Navigator-tips">Back to top</span></li><!---->
            <li data-v-49ffe232="" id="Ob-Navigator-home"
                style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);">
                <div data-v-49ffe232="">
                    <svg data-v-729e93ea="" data-v-49ffe232="" class="svg-icon text-ob-bright" aria-hidden="true">
                        <use data-v-729e93ea="" href="#icon-nav-home" fill="currentColor"
                             stroke="var(--background-primary)"></use>
                    </svg>
                </div>
                <span data-v-49ffe232="" class="Ob-Navigator-tips">Back to home</span></li>
            <li data-v-49ffe232="" id="Ob-Navigator-search"
                style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);">
                <div data-v-49ffe232="">
                    <svg data-v-729e93ea="" data-v-49ffe232="" class="svg-icon text-ob-bright" aria-hidden="true">
                        <use data-v-729e93ea="" href="#icon-nav-search" fill="none" stroke="white"></use>
                    </svg>
                </div>
                <span data-v-49ffe232="" class="Ob-Navigator-tips">Open search</span></li>
        </ul>
    </div>
</th:block>
</html>