<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navigator">
    <script type="text/javascript" th:src="@{/assets/js/navigator.js}"></script>
    <div  id="Ob-Navigator">
        <div id="returnTop" onclick="returnTop()" style="display: none"  class="Ob-Navigator-btt">
            <div >
                <svg   class="svg-icon text-ob-bright" aria-hidden="true"
                     style="height: 1em; width: 1em;">
                    <use  href="#icon-back-to-top" fill="currentColor"
                         stroke="var(--background-primary)"></use>
                </svg>
            </div>
            <span  class="Ob-Navigator-tips">返回顶部</span></div>
        <div  class="Ob-Navigator-ball" onclick="navigatorClickHandler()">
            <div 
                 style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);">
                <svg id="scrollSvg1"   class="svg-icon" aria-hidden="true">
                    <use  href="#icon-dots" fill="currentColor"
                         stroke="var(--background-primary)"></use>
                </svg>
                <svg id="scrollSvg2"   class="svg-icon text-base stroke-2"
                     aria-hidden="true"
                     style="height: 1em; width: 1em;display: none">
                    <use  href="#icon-close" fill="currentColor"
                         stroke="var(--background-primary)"></use>
                </svg>
                <span id="scrollPercent"  class="text-sm"></span>
            </div>
        </div>
        <ul  class="Ob-Navigator-submenu">
            <li  id="Ob-Navigator-top"
                style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);">
                <div >
                    <svg   class="svg-icon text-ob-bright" aria-hidden="true">
                        <use  href="#icon-back-to-top" fill="currentColor"
                             stroke="var(--background-primary)"></use>
                    </svg>
                </div>
                <span  class="Ob-Navigator-tips">Back to top</span></li><!---->
            <li  id="Ob-Navigator-home"
                style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);">
                <div >
                    <svg   class="svg-icon text-ob-bright" aria-hidden="true">
                        <use  href="#icon-nav-home" fill="currentColor"
                             stroke="var(--background-primary)"></use>
                    </svg>
                </div>
                <span  class="Ob-Navigator-tips">Back to home</span></li>
            <li  id="Ob-Navigator-search"
                style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);">
                <div >
                    <svg   class="svg-icon text-ob-bright" aria-hidden="true">
                        <use  href="#icon-nav-search" fill="none" stroke="white"></use>
                    </svg>
                </div>
                <span  class="Ob-Navigator-tips">Open search</span></li>
        </ul>
    </div>
</th:block>
</html>