.timeline[data-v-7beaea4c] {
    position: relative;
    z-index: 2;
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%
}

.timeline h1[data-v-7beaea4c], .timeline h2[data-v-7beaea4c], .timeline h3[data-v-7beaea4c], .timeline h4[data-v-7beaea4c], .timeline h5[data-v-7beaea4c], .timeline h6[data-v-7beaea4c] {
    margin-top: 0
}

.timeline-item[data-v-7beaea4c] {
    padding-left: 40px;
    position: relative
}

.timeline-item[data-v-7beaea4c]:last-child {
    padding-bottom: 0
}

.timeline-info[data-v-7beaea4c] {
    color: var(--text-accent);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em;
    text-transform: uppercase;
    white-space: nowrap
}

.timeline-marker[data-v-7beaea4c] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px
}

.timeline-marker[data-v-7beaea4c]:before {
    background: var(--text-accent);
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background .3s ease-in-out, border .3s ease-in-out
}

.timeline-marker[data-v-7beaea4c]:after {
    content: "";
    width: 3px;
    background: var(--text-normal);
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px
}

.timeline-item:last-child .timeline-marker[data-v-7beaea4c]:after {
    content: none
}

.timeline-item:not(.period):hover .timeline-marker[data-v-7beaea4c]:before {
    background: transparent;
    border: 3px solid var(--text-accent)
}

.timeline-content[data-v-7beaea4c] {
    padding-bottom: 40px
}

.timeline-content p[data-v-7beaea4c]:last-child {
    margin-bottom: 0
}

.timeline-title[data-v-7beaea4c] {
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--text-bright);
    font-weight: 600
}

.timeline-title[data-v-7beaea4c]:after {
    position: absolute;
    bottom: 0px;
    height: .25rem;
    width: 6rem;
    border-radius: 9999px;
    content: "";
    background: var(--main-gradient);
    left: 0
}

.period[data-v-7beaea4c] {
    padding: 0
}

.period .timeline-info[data-v-7beaea4c] {
    display: none
}

.period .timeline-marker[data-v-7beaea4c]:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid var(--text-normal);
    border-bottom: 3px solid var(--text-normal)
}

.period .timeline-marker[data-v-7beaea4c]:after {
    content: "";
    height: 32px;
    top: auto
}

.period .timeline-content[data-v-7beaea4c] {
    padding: 40px 0 70px
}

.period .timeline-title[data-v-7beaea4c] {
    margin: 0
}

.period .timeline-title[data-v-7beaea4c]:after {
    content: none
}

@media (min-width: 768px) {
    .timeline-split .timeline[data-v-7beaea4c], .timeline-centered .timeline[data-v-7beaea4c] {
        display: table
    }

    .timeline-split .timeline-item[data-v-7beaea4c], .timeline-centered .timeline-item[data-v-7beaea4c] {
        display: table-row;
        padding: 0
    }

    .timeline-split .timeline-info[data-v-7beaea4c], .timeline-centered .timeline-info[data-v-7beaea4c], .timeline-split .timeline-marker[data-v-7beaea4c], .timeline-centered .timeline-marker[data-v-7beaea4c], .timeline-split .timeline-content[data-v-7beaea4c], .timeline-centered .timeline-content[data-v-7beaea4c], .timeline-split .period .timeline-info[data-v-7beaea4c] {
        display: table-cell;
        vertical-align: top
    }

    .timeline-split .timeline-marker[data-v-7beaea4c], .timeline-centered .timeline-marker[data-v-7beaea4c] {
        position: relative
    }

    .timeline-split .timeline-content[data-v-7beaea4c], .timeline-centered .timeline-content[data-v-7beaea4c] {
        padding-left: 30px
    }

    .timeline-split .timeline-info[data-v-7beaea4c], .timeline-centered .timeline-info[data-v-7beaea4c] {
        padding-right: 30px
    }

    .timeline-split .period .timeline-title[data-v-7beaea4c], .timeline-centered .period .timeline-title[data-v-7beaea4c] {
        position: relative;
        left: -45px
    }
}

@media (min-width: 992px) {
    .timeline-centered[data-v-7beaea4c], .timeline-centered .timeline-item[data-v-7beaea4c], .timeline-centered .timeline-info[data-v-7beaea4c], .timeline-centered .timeline-marker[data-v-7beaea4c], .timeline-centered .timeline-content[data-v-7beaea4c] {
        display: block;
        margin: 0;
        padding: 0
    }

    .timeline-centered .timeline-item[data-v-7beaea4c] {
        padding-bottom: 40px;
        overflow: hidden
    }

    .timeline-centered .timeline-marker[data-v-7beaea4c] {
        position: absolute;
        left: 50%;
        margin-left: -7.5px
    }

    .timeline-centered .timeline-info[data-v-7beaea4c], .timeline-centered .timeline-content[data-v-7beaea4c] {
        width: 50%
    }

    .timeline-centered > .timeline-item:nth-child(odd) .timeline-info[data-v-7beaea4c] {
        float: left;
        text-align: right;
        padding-right: 30px
    }

    .timeline-centered > .timeline-item:nth-child(odd) .timeline-content[data-v-7beaea4c] {
        float: right;
        text-align: left;
        padding-left: 30px
    }

    .timeline-centered > .timeline-item:nth-child(odd) .timeline-content .timeline-title[data-v-7beaea4c]:after {
        left: 0;
        right: initial
    }

    .timeline-centered > .timeline-item:nth-child(even) .timeline-info[data-v-7beaea4c] {
        float: right;
        text-align: left;
        padding-left: 30px
    }

    .timeline-centered > .timeline-item:nth-child(even) .timeline-content[data-v-7beaea4c] {
        float: left;
        text-align: right;
        padding-right: 30px
    }

    .timeline-centered > .timeline-item:nth-child(even) .timeline-content .timeline-title[data-v-7beaea4c]:after {
        right: 0;
        left: initial
    }

    .timeline-centered > .timeline-item.period .timeline-content[data-v-7beaea4c] {
        float: none;
        padding: 0;
        width: 100%;
        text-align: center
    }

    .timeline-centered .timeline-item.period[data-v-7beaea4c] {
        padding: 50px 0 90px
    }

    .timeline-centered .period .timeline-marker[data-v-7beaea4c]:after {
        height: 30px;
        bottom: 0;
        top: auto
    }

    .timeline-centered .period .timeline-title[data-v-7beaea4c] {
        left: auto
    }
}
