.breadcrumbs,.breadcrumbs li {
    position: relative;
    z-index: 20
}

.breadcrumbs li:after {
    content: ">";
    position: absolute;
    top: .05rem;
    right: -.95rem;
    opacity: .65
}

.breadcrumbs li:last-of-type:after {
    content: ""
}
