<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 侧边栏 -->
<div th:fragment="aside(widgets)">
    <div class="h-98 w-full rounded-2xl relative shadow-xl mb-8"
         style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);">
        <div
                class="ob-gradient-cut-plate absolute bg-ob-deep-900 rounded-xl opacity-90 flex justify-center items-center pt-4 px-6 shadow-lg hover:shadow-2xl duration-300"
                data-dia="author">
            <div
                    class="profile absolute w-full flex flex-col justify-center items-center">
                <div
                        class="flex flex-col justify-center items-center">
                    <img class="ob-avatar diamond-avatar"
                         th:src="@{/assets/img/ObsidianestLogo.png}"
                         alt="avatar">
                    <h2
                            class="text-center pt-4 text-4xl font-semibold text-ob-bright">
                        三钻</h2><span
                        class="h-1 w-14 rounded-full mt-2"
                        style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);"></span>
                    <p class="pt-6 px-10 w-full text-sm text-center">
                        Think like an artist, develop like an artisan. <br> @
                        <b>公众号：技术银河</b>
                    </p>
                </div>
                <div
                        class="h-full w-full flex flex-col flex-1 justify-end items-end">
                    <ul
                            class="flex flex-row justify-evenly flex-wrap w-full py-4 px-2 text-center items-center">
                        <a href="https://github.com/TriDiamond"
                           target="_blank">
                            <li
                                    class="diamond-clip-path diamond-icon">
                                <svg
                                        class="svg-icon fill-current fill-current"
                                >
                                    <use href="#icon-github"
                                         fill="currentColor"
                                         stroke="var(--background-primary)"></use>
                                </svg>
                            </li>
                        </a><a href="https://weibo.com/u/7318914058"
                               target="_blank">
                        <li class="diamond-clip-path diamond-icon">
                            <svg class="svg-icon fill-current fill-current">
                                <use href="#icon-weibo"
                                     fill="currentColor"
                                     stroke="var(--background-primary)"></use>
                            </svg>
                        </li>
                    </a><a href="https://blog.csdn.net/TriDiamond6" target="_blank">
                        <li class="diamond-clip-path diamond-icon">
                            <svg class="svg-icon fill-current fill-current">
                                <use href="#icon-csdn"
                                     fill="currentColor"
                                     stroke="var(--background-primary)"></use>
                            </svg>
                        </li>
                    </a><a
                            href="https://www.zhihu.com/people/tridiamond"
                            target="_blank">
                        <li class="diamond-clip-path diamond-icon">
                            <svg class="svg-icon fill-current fill-current">
                                <use href="#icon-zhifu"
                                     fill="currentColor"
                                     stroke="var(--background-primary)"></use>
                            </svg>
                        </li>
                    </a><a
                            href="https://juejin.cn/user/1873223546578589"
                            target="_blank">
                        <li
                                class="diamond-clip-path diamond-icon">掘
                        </li>
                    </a><a
                            href="https://live.bilibili.com/22619211" target="_blank">
                        <li
                                class="diamond-clip-path diamond-icon">
                            <div
                                    class="svg-external-icon svg-icon fill-current fill-current"
                                    style="-webkit-mask: url(&quot;/themes/theme-aurora/assets/svg/bilibili.svg&quot;) 50% 50% no-repeat;">
                            </div>
                        </li>
                    </a>
                    </ul>
                    <ul
                            class="grid grid-cols-4 pt-4 w-full px-2 text-lg">
                        <li class="col-span-1 text-center"><span
                                class="text-ob-bright">286k</span>
                            <p class="text-base">文字</p>
                        </li>
                        <li class="col-span-1 text-center"><span
                                class="text-ob-bright">34</span>
                            <p class="text-base">文章</p>
                        </li>
                        <li class="col-span-1 text-center"><span
                                class="text-ob-bright">14</span>
                            <p class="text-base">分类</p>
                        </li>
                        <li class="col-span-1 text-center"><span
                                class="text-ob-bright">76</span>
                            <p class="text-base">标签</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-box">
        <p
                class="relative flex items-center pb-2 mb-4 text-xl text-ob-bright uppercase">
            <svg class="svg-icon inline-block mr-2 inline-block mr-2"
            >
                <use href="#icon-quote" fill="currentColor"
                     stroke="var(--background-primary)"></use>
            </svg>
            <span class="w-full block">Recent Comments</span><!----><span
                class="absolute bottom-0 h-1 w-14 rounded-full"
                style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);"></span>
        </p>
        <ul>
            <li
                    class="bg-ob-deep-900 px-2 py-2 mb-1.5 rounded-lg flex flex-row justify-items-center items-stretch shadow-sm hover:shadow-ob transition-shadow">
                <div class="flex justify-start items-start"><img
                        class="col-span-1 mr-2 rounded-full p-1"
                        src="https://q1.qlogo.cn/g?b=qq&amp;nk=123&amp;s=100"
                        alt="comment-avatar" height="40" width="40"></div>
                <div class="flex-1 text-xs">
                    <div class="text-xs mb-2 pt-1"><span class="text-ob pr-2">123
                                                            </span>
                        <p class="text-gray-500">3 hours ago</p>
                    </div>
                    <div class="text-xs text-ob-bright pb-1">123
                    </div>
                </div>
            </li>
            <li
                    class="bg-ob-deep-900 px-2 py-2 mb-1.5 rounded-lg flex flex-row justify-items-center items-stretch shadow-sm hover:shadow-ob transition-shadow">
                <div class="flex justify-start items-start"><img
                        class="col-span-1 mr-2 rounded-full p-1"
                        src="https://q1.qlogo.cn/g?b=qq&amp;nk=4202054&amp;s=100"
                        alt="comment-avatar" height="40" width="40"></div>
                <div class="flex-1 text-xs">
                    <div class="text-xs mb-2 pt-1"><span class="text-ob pr-2">erfwefew
                        <!----></span>
                        <p class="text-gray-500">6 hours ago</p>
                    </div>
                    <div class="text-xs text-ob-bright pb-1">ee
                    </div>
                </div>
            </li>
            <li
                    class="bg-ob-deep-900 px-2 py-2 mb-1.5 rounded-lg flex flex-row justify-items-center items-stretch shadow-sm hover:shadow-ob transition-shadow">
                <div class="flex justify-start items-start"><img
                        class="col-span-1 mr-2 rounded-full p-1"
                        src="https://seccdn.libravatar.org/avatar/0c0dc4b88d868026b09f85737e4d16ff"
                        alt="comment-avatar" height="40" width="40"></div>
                <div class="flex-1 text-xs">
                    <div class="text-xs mb-2 pt-1"><span class="text-ob pr-2">Myname
                        <!----></span>
                        <p class="text-gray-500">1 days ago</p>
                    </div>
                    <div class="text-xs text-ob-bright pb-1">woww
                    </div>
                </div>
            </li>
            <li
                    class="bg-ob-deep-900 px-2 py-2 mb-1.5 rounded-lg flex flex-row justify-items-center items-stretch shadow-sm hover:shadow-ob transition-shadow">
                <div class="flex justify-start items-start"><img
                        class="col-span-1 mr-2 rounded-full p-1"
                        th:src="@{/assets/img/ObsidianestLogo.png}"
                        alt="comment-avatar" height="40" width="40"></div>
                <div class="flex-1 text-xs">
                    <div class="text-xs mb-2 pt-1"><span class="text-ob pr-2">三钻 <b
                            class="text-ob-secondary bg-ob-deep-800 py-0.5 px-1.5 rounded-md opacity-75">Owner</b></span>
                        <p class="text-gray-500">4 days ago</p>
                    </div>
                    <div class="text-xs text-ob-bright pb-1">@monkey: 下次请到 [link]
                        这里提
                        bug...
                    </div>
                </div>
            </li>
            <li
                    class="bg-ob-deep-900 px-2 py-2 mb-1.5 rounded-lg flex flex-row justify-items-center items-stretch shadow-sm hover:shadow-ob transition-shadow">
                <div class="flex justify-start items-start"><img
                        class="col-span-1 mr-2 rounded-full p-1"
                        src="https://seccdn.libravatar.org/avatar/0a2db931f239097215155de2f6038f29"
                        alt="comment-avatar" height="40" width="40"></div>
                <div class="flex-1 text-xs">
                    <div class="text-xs mb-2 pt-1"><span class="text-ob pr-2">monkey
                        <!----></span>
                        <p class="text-gray-500">4 days ago</p>
                    </div>
                    <div class="text-xs text-ob-bright pb-1">步骤五-“创建关于[about]“页面
                        报错
                        [Auro...
                    </div>
                </div>
            </li>
            <li
                    class="bg-ob-deep-900 px-2 py-2 mb-1.5 rounded-lg flex flex-row justify-items-center items-stretch shadow-sm hover:shadow-ob transition-shadow">
                <div class="flex justify-start items-start"><img
                        class="col-span-1 mr-2 rounded-full p-1"
                        src="https://seccdn.libravatar.org/avatar/521c3af33ccac72ae0cfd836f269ac82"
                        alt="comment-avatar" height="40" width="40"></div>
                <div class="flex-1 text-xs">
                    <div class="text-xs mb-2 pt-1"><span class="text-ob pr-2">Encore
                        <!----></span>
                        <p class="text-gray-500">4 days ago</p>
                    </div>
                    <div class="text-xs text-ob-bright pb-1">good job！
                    </div>
                </div>
            </li>
            <li
                    class="bg-ob-deep-900 px-2 py-2 mb-1.5 rounded-lg flex flex-row justify-items-center items-stretch shadow-sm hover:shadow-ob transition-shadow">
                <div class="flex justify-start items-start"><img
                        class="col-span-1 mr-2 rounded-full p-1"
                        src="https://seccdn.libravatar.org/avatar/448811a3cd3e72cff4e9975e57055515"
                        alt="comment-avatar" height="40" width="40"></div>
                <div class="flex-1 text-xs">
                    <div class="text-xs mb-2 pt-1"><span class="text-ob pr-2">Wuxh
                        <!----></span>
                        <p class="text-gray-500">5 days ago</p>
                    </div>
                    <div class="text-xs text-ob-bright pb-1">Awesome man
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="sidebar-box">
        <p
                class="relative flex items-center pb-2 mb-4 text-xl text-ob-bright uppercase">
            <svg class="svg-icon inline-block mr-2 inline-block mr-2"
            >
                <use href="#icon-tag" fill="currentColor"
                     stroke="var(--background-primary)"></use>
            </svg>
            <span class="w-full block">Tags</span><!----><span
                class="absolute bottom-0 h-1 w-14 rounded-full"
                style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);"></span>
        </p>
        <div class="flex justify-event flex-wrap pt-2">
            <div
                    class="flex flex-row items-center hover:opacity-50 mr-2 mb-2 cursor-pointer transition-all">
                <a href="/tags/search?slug=Linked-List"
                   class="bg-ob-deep-900 text-center px-3 py-1 rounded-tl-md rounded-bl-md text-sm"
                   style="font-size: 0.75rem; line-height: 1rem;"><em
                        class="opacity-50">#</em> Linked List</a><span
                    class="bg-ob-deep-900 text-ob-secondary text-center px-2 py-1 rounded-tr-md rounded-br-md text-sm opacity-70"
                    style="font-size: 0.75rem; line-height: 1rem;">1</span>
            </div>
            <div
                    class="flex flex-row items-center hover:opacity-50 mr-2 mb-2 cursor-pointer transition-all">
                <a href="/tags/search?slug=Array"
                   class="bg-ob-deep-900 text-center px-3 py-1 rounded-tl-md rounded-bl-md text-sm"
                   style="font-size: 0.75rem; line-height: 1rem;"><em
                        class="opacity-50">#</em> Array</a><span
                    class="bg-ob-deep-900 text-ob-secondary text-center px-2 py-1 rounded-tr-md rounded-br-md text-sm opacity-70"
                    style="font-size: 0.75rem; line-height: 1rem;">1</span>
            </div>
            <div
                    class="flex flex-row items-center hover:opacity-50 mr-2 mb-2 cursor-pointer transition-all">
                <a href="/tags/search?slug=Jump-List"
                   class="bg-ob-deep-900 text-center px-3 py-1 rounded-tl-md rounded-bl-md text-sm"
                   style="font-size: 0.75rem; line-height: 1rem;"><em
                        class="opacity-50">#</em> Jump List</a><span
                    class="bg-ob-deep-900 text-ob-secondary text-center px-2 py-1 rounded-tr-md rounded-br-md text-sm opacity-70"
                    style="font-size: 0.75rem; line-height: 1rem;">1</span>
            </div>
            <div
                    class="flex flex-row items-center hover:opacity-50 mr-2 mb-2 cursor-pointer transition-all">
                <a href="/tags/search?slug=Algorithm"
                   class="bg-ob-deep-900 text-center px-3 py-1 rounded-tl-md rounded-bl-md text-sm"
                   style="font-size: 0.75rem; line-height: 1rem;"><em
                        class="opacity-50">#</em> Algorithm</a><span
                    class="bg-ob-deep-900 text-ob-secondary text-center px-2 py-1 rounded-tr-md rounded-br-md text-sm opacity-70"
                    style="font-size: 0.75rem; line-height: 1rem;">2</span>
            </div>
            <div
                    class="flex flex-row items-center hover:opacity-50 mr-2 mb-2 cursor-pointer transition-all">
                <a href="/tags/search?slug=Data-Structure"
                   class="bg-ob-deep-900 text-center px-3 py-1 rounded-tl-md rounded-bl-md text-sm"
                   style="font-size: 0.75rem; line-height: 1rem;"><em
                        class="opacity-50">#</em> Data Structure</a><span
                    class="bg-ob-deep-900 text-ob-secondary text-center px-2 py-1 rounded-tr-md rounded-br-md text-sm opacity-70"
                    style="font-size: 0.75rem; line-height: 1rem;">1</span>
            </div>
            <div
                    class="flex flex-row items-center hover:opacity-50 mr-2 mb-2 cursor-pointer transition-all">
                <a href="/tags/search?slug=Time-Complexity"
                   class="bg-ob-deep-900 text-center px-3 py-1 rounded-tl-md rounded-bl-md text-sm"
                   style="font-size: 0.75rem; line-height: 1rem;"><em
                        class="opacity-50">#</em> Time Complexity</a><span
                    class="bg-ob-deep-900 text-ob-secondary text-center px-2 py-1 rounded-tr-md rounded-br-md text-sm opacity-70"
                    style="font-size: 0.75rem; line-height: 1rem;">1</span>
            </div>
            <div
                    class="flex flex-row items-center hover:opacity-50 mr-2 mb-2 cursor-pointer transition-all">
                <a href="/tags/search?slug=Space-Complexity"
                   class="bg-ob-deep-900 text-center px-3 py-1 rounded-tl-md rounded-bl-md text-sm"
                   style="font-size: 0.75rem; line-height: 1rem;"><em
                        class="opacity-50">#</em> Space Complexity</a><span
                    class="bg-ob-deep-900 text-ob-secondary text-center px-2 py-1 rounded-tr-md rounded-br-md text-sm opacity-70"
                    style="font-size: 0.75rem; line-height: 1rem;">1</span>
            </div>
            <div
                    class="flex flex-row items-center hover:opacity-50 mr-2 mb-2 cursor-pointer transition-all">
                <a href="/tags/search?slug=LeetCode"
                   class="bg-ob-deep-900 text-center px-3 py-1 rounded-tl-md rounded-bl-md text-sm"
                   style="font-size: 0.75rem; line-height: 1rem;"><em
                        class="opacity-50">#</em> LeetCode</a><span
                    class="bg-ob-deep-900 text-ob-secondary text-center px-2 py-1 rounded-tr-md rounded-br-md text-sm opacity-70"
                    style="font-size: 0.75rem; line-height: 1rem;">1</span>
            </div>
            <div
                    class="flex flex-row items-center hover:opacity-50 mr-2 mb-2 cursor-pointer transition-all">
                <a href="/tags/search?slug=aurora"
                   class="bg-ob-deep-900 text-center px-3 py-1 rounded-tl-md rounded-bl-md text-sm"
                   style="font-size: 0.75rem; line-height: 1rem;"><em
                        class="opacity-50">#</em> aurora</a><span
                    class="bg-ob-deep-900 text-ob-secondary text-center px-2 py-1 rounded-tr-md rounded-br-md text-sm opacity-70"
                    style="font-size: 0.75rem; line-height: 1rem;">1</span>
            </div>
            <div
                    class="flex flex-row items-center hover:opacity-50 mr-2 mb-2 cursor-pointer transition-all">
                <a href="/tags/search?slug=project-blog"
                   class="bg-ob-deep-900 text-center px-3 py-1 rounded-tl-md rounded-bl-md text-sm"
                   style="font-size: 0.75rem; line-height: 1rem;"><em
                        class="opacity-50">#</em> project-blog</a><span
                    class="bg-ob-deep-900 text-ob-secondary text-center px-2 py-1 rounded-tr-md rounded-br-md text-sm opacity-70"
                    style="font-size: 0.75rem; line-height: 1rem;">1</span>
            </div>
            <div
                    class="flex flex-row items-center hover:opacity-50 mr-2 mb-2 cursor-pointer transition-all">
                                                    <span class="text-center px-3 py-1 rounded-md text-sm"><b
                                                            class="border-b-2 border-ob hover:text-ob"><a href="/tags"
                                                                                                          class="">View more ... </a></b></span>
            </div>
        </div>
    </div>
    <div id="sticky" style="z-index: 1; height: 362px;">
        <div class="" style="bottom: initial; z-index: 1; height: 362px;">
            <div id="sticky-sidebar">
                <div class="sidebar-box mb-4" style="">
                    <p class="relative flex items-center pb-2 mb-4 text-xl text-ob-bright uppercase">
                        <svg
                                class="svg-icon inline-block mr-2 inline-block mr-2"
                                style="height: 1em; width: 1em;">
                            <use href="#icon-toc" fill="currentColor"
                                 stroke="var(--background-primary)"></use>
                        </svg>
                        <span class="w-full block">文章目录</span><!----><span
                            class="absolute bottom-0 h-1 w-14 rounded-full"
                            style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);"></span>
                    </p>
                    <div style="max-height: 492px; overflow: hidden scroll;">
                        <ol class="toc">
                            <li class="toc-item toc-level-1 active"><a class="toc-link"
                                                                       href="#Custom-Container-Example"><span
                                    class="toc-text">Custom Container Example.</span></a>
                                <ol class="toc-child">
                                    <li class="toc-item toc-level-2"><a class="toc-link"
                                                                        href="#Block-quote"><span
                                            class="toc-text">Block quote</span></a></li>
                                    <li class="toc-item toc-level-2"><a class="toc-link"
                                                                        href="#Custom-Containers"><span
                                            class="toc-text">Custom Containers</span></a>
                                        <ol class="toc-child">
                                            <li class="toc-item toc-level-3"><a
                                                    class="toc-link"
                                                    href="#Tip-Container"><span
                                                    class="toc-text">Tip Container</span></a>
                                            </li>
                                            <li class="toc-item toc-level-3"><a
                                                    class="toc-link"
                                                    href="#Warning-Container"><span
                                                    class="toc-text">Warning Container</span></a>
                                            </li>
                                            <li class="toc-item toc-level-3"><a
                                                    class="toc-link"
                                                    href="#Danger-Container"><span
                                                    class="toc-text">Danger Container</span></a>
                                            </li>
                                            <li class="toc-item toc-level-3"><a
                                                    class="toc-link"
                                                    href="#Detail-container"><span
                                                    class="toc-text">Detail container</span></a>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
                <ul id="sidebar-navigator"
                    class="flex flex-row bg-ob-deep-800 rounded-xl shadow-2xl justify-items-center overflow-hidden">
                    <li
                            class="border-r-4 border-ob-deep-900 flex justify-center py-3 w-full hover:opacity-50 hover:text-ob transition-all cursor-pointer">
                        <svg
                                class="svg-icon inline-block text-3xl inline-block text-3xl"
                                style="height: 1em; width: 1em;">
                            <use href="#icon-go-back"
                                 fill="currentColor"
                                 stroke="var(--background-primary)"></use>
                        </svg>
                    </li>
                    <li
                            class="border-r-4 border-ob-deep-900 flex justify-center py-3 w-full hover:opacity-50 hover:text-ob transition-all cursor-pointer">
                        <svg
                                class="svg-icon inline-block text-3xl inline-block text-3xl"
                                style="height: 1em; width: 1em;">
                            <use href="#icon-back-to-top"
                                 fill="currentColor"
                                 stroke="var(--background-primary)"></use>
                        </svg>
                    </li>
                    <li
                            class="flex justify-center py-3 w-full hover:opacity-50 hover:text-ob transition-all cursor-pointer"
                            data-dia="jump-to-comment">
                        <svg
                                class="svg-icon inline-block text-3xl inline-block text-3xl"
                                style="height: 1em; width: 1em;">
                            <use href="#icon-quote"
                                 fill="currentColor"
                                 stroke="var(--background-primary)"></use>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>