<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="comment(group, kind, name, allowComment)" th:if="${allowComment}">

  <th:block th:if="${theme.config.comments.twikooEnable && #strings.equals(theme.config.comments.use, 'Twikoo') && not
    #strings.isEmpty(theme.config.comments.twikoos.envId)}">
    <div th:replace="~{modules/comment/twikoo :: twikoo}"></div>
  </th:block>

  <div id="comments"
       th:if="${pluginFinder.available('PluginCommentWidget') && #strings.equals(theme.config.comments.use, 'commentWidget')}">
    <div class="bg-ob-deep-800 p-4 mt-8 lg:px-14 lg:py-10 rounded-2xl shadow-xl mb-8 lg:mb-0">
      <p class="relative flex items-center pb-2 mb-4 text-xl text-ob-bright uppercase">
        <span class="w-full block">评论区</span><span class="absolute bottom-0 h-1 w-14 rounded-full"
         style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);"></span>
      </p>

      <halo:comment th:attr="name=${name},kind=${kind},group=${group}"
                    colorScheme="document.documentElement.getAttribute('data-theme')" />

    </div>
  </div>
</th:block>

</html>