<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 页脚模块 -->
<footer th:fragment="footer">
    <div id="footer" class="relative w-full pt-1" th:with="stats = ${siteStatsFinder.getStats()}"
         style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%); --text-accent: #24c6dc; --text-sub-accent: #ff0099; --main-gradient: linear-gradient(130deg, #24c6dc, #5433ff 41.07%, #ff0099 76.05%);">
            <span class="bg-ob-deep-900 flex justify-center">
                <div
                        class="bg-ob-deep-900 rounded-lg max-w-10/12 lg:max-w-screen-2xl text-sm text-ob-normal w-full py-6 px-6 grid grid-rows-1 lg:grid-rows-none lg:grid-cols-4 justify-center items-center gap-8">
                    <div style="justify-self: center;"
                         class="flex flex-col lg:flex-row gap-6 lg:gap-12 row-span-1 lg:col-span-3 text-center lg:text-left">
                        <div class="flex flex-col lg:flex-row gap-6 lg:gap-12 row-span-1 lg:col-span-3 text-center lg:text-left"><ul
                                class="flex flex-col gap-1.5">
                            <li>
                                <th:block
                                        th:if="${not #strings.isEmpty(theme.config.basics.siteStartTime)}">
                                    ©[[${#strings.arraySplit(theme.config.basics.siteStartTime, '-')[0]}]] - [[${#dates.format(new java.util.Date(), 'yyyy')}]]
                                </th:block>
                                <th:block th:if="${#strings.isEmpty(theme.config.basics.siteStartTime)}">
                                    ©[[${#dates.format(new java.util.Date(), 'yyyy')}]]
                                </th:block>
                                 <b class="font-extrabold">[[${site.title}]]</b> . All Rights Reserved. </li>
                            <li> Powered by <a
                                    href="https://halo.run"><b
                                    class="font-extrabold border-b-2 border-ob hover:text-ob"> Halo </b></a> &amp; Themed by <a
                                    href="https://github.com/Roozenlz/halo-theme-aurora"><b
                                    class="font-extrabold border-b-2 border-ob hover:text-ob"> Halo-Theme-Aurora </b></a> . </li>
                            </ul><ul class="flex flex-col min-w-[150px]"><li class="flex"><span><svg
                                class="svg-icon mr-1 text-lg inline-block mr-1 text-lg inline-block"
                                style="height: 1em; width: 1em;"><use
                                href="#icon-hot"
                                fill="currentColor"
                                stroke="var(--background-primary)"></use></svg> 浏览次数：</span><span
                                class="flex-1 text-right"><span class="waline-pageview-count" th:text="${stats.visit}"></span></span></li>
                            <li class="flex"><span class="">
                                <svg class="svg-icon mr-1 text-lg inline-block mr-1 text-lg inline-block"
                                     style="height: 1em; width: 1em;"><use
                                        href="#icon-date" fill="currentColor"
                                        stroke="var(--background-primary)"></use></svg> 建站日期：</span>
                                <span  class="flex-1 text-right" th:text="${theme.config.basics.siteStartTime}"></span></li></ul></div>
                    </div>
                    <div class="hidden lg:flex lg:col-span-1 justify-center lg:justify-end row-span-1 relative"><img
                            class="footer-avatar diamond-avatar"
                            th:src="${site.logo}"
                            alt="avatar" style=""></div>
                </div>
            </span>
    </div>
    <script>
        let blockquoteSvg = `<span class="custom-blockquote-svg"><svg width="24" height="24" viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg" data-reactroot="">
<path fill="" d="M22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22C13.8 22 15.5 21.5 17 20.6L22 22L20.7 17C21.5 15.5 22 13.8 22 12Z" undefined="1"></path>
<path fill="" d="M15.97 11.5H16.04C17.12 11.5 18 12.38 18 13.47V13.53C18 14.62 17.12 15.5 16.03 15.5H15.96C14.88 15.5 14 14.62 14 13.53V13.46C14 12.38 14.88 11.5 15.97 11.5Z" undefined="1"></path>
<path fill="" d="M7.97 11.5H8.04C9.12 11.5 10 12.38 10 13.47V13.53C10 14.62 9.12 15.5 8.03 15.5H7.97C6.88 15.5 6 14.62 6 13.53V13.46C6 12.38 6.88 11.5 7.97 11.5Z" undefined="1"></path>
<path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" stroke="" d="M17 8.5C15.23 8.97 14.07 10.84 14.01 13.27C14 13.33 14 13.4 14 13.47V13.5"></path>
<path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" stroke="" d="M9 8.5C7.23 8.97 6.07 10.84 6.01 13.27C6 13.33 6 13.4 6 13.47V13.5"></path>
<path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" stroke="" d="M15.97 11.5H16.04C17.12 11.5 18 12.38 18 13.47V13.53C18 14.62 17.12 15.5 16.03 15.5H15.96C14.88 15.5 14 14.62 14 13.53V13.46C14 12.38 14.88 11.5 15.97 11.5Z"></path>
<path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" stroke="" d="M7.97 11.5H8.04C9.12 11.5 10 12.38 10 13.47V13.53C10 14.62 9.12 15.5 8.03 15.5H7.97C6.88 15.5 6 14.62 6 13.53V13.46C6 12.38 6.88 11.5 7.97 11.5Z"></path>
</svg>
</span>`
        let blockquote = document.getElementsByTagName('blockquote')
        for (const blockquoteElement of blockquote) {
            blockquoteElement.innerHTML = blockquoteSvg + blockquoteElement.innerHTML;
        }
    </script>
    <script>
        var footer = document.getElementById('footer'),
            sticky = document.getElementById('sticky-sidebar'),
            stickyTop = sticky.offsetTop
        window.addEventListener('scroll', scrollFunc)

        function scrollFunc() {
            // let footerTop = footer.getBoundingClientRect().top;
            // let stickyBottom = sticky.getBoundingClientRect().bottom;
            // 定位底部
            // if(window.pageYOffset < domTop - window.innerHeight){
            //     sticky.style.position = 'fixed';
            //     sticky.style.bottom = 0;
            // }else{
            //     sticky.style.left = 'auto';
            //     sticky.style.position = 'static'
            // }
            // console.log('stickyTop'+stickyTop)
            // console.log('stickyBottom'+stickyBottom)
            // console.log('footerTop'+footerTop)
            // console.log('ret')
            // if(stickyBottom + 20 >= footerTop){
            //     sticky.style.position = 'static'
            //     return
            // }
            // 定位顶部
            if (window.scrollY > stickyTop) {
                sticky.style.position = 'fixed'
                sticky.style.top = '20px';
            } else {
                sticky.style.position = 'static'
            }
        }

        scrollFunc()
    </script>
</footer>
</html>