<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="show" id="nav" th:fragment="nav(title,subtitle)">
    <div class="header-container">
        <header class="site-header">
            <div class="flex items-start self-stretch relative">
                <div class="flex flex-col relative py-4 z-10 text-white font-medium ob-drop-shadow cursor-pointer">
                    <span class="flex text-4xl"
                          th:text="${#strings.isEmpty(title) ? site.title : title}"></span>
                    <span class="font-extrabold text-xs uppercase"
                          th:text="${#strings.isEmpty(subtitle) ? site.subtitle : subtitle}"></span>
                </div>
                <img class="logo-image" th:src="${site.logo}" alt="site-logo"></div>
            <!-- 导航栏中间 -->
            <div th:replace="~{modules/widgets/nav-menu :: nav-menu}"></div>
            <!-- 导航栏右侧 -->
            <div th:replace="~{modules/widgets/nav-right :: nav-right}"></div>
        </header>
    </div>
    <div class="app-banner app-banner-image"
         style="background-image: url(&quot;/themes/theme-aurora/assets/img/default-cover.jpg&quot;), url(&quot;/themes/theme-aurora/assets/img/default-cover.jpg&quot;); opacity: 1;"></div>
    <div class="app-banner app-banner-screen"
         style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%); opacity: 0.91;">
    </div>
</nav>

</html>