<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="show" id="nav" th:fragment="nav(title,subtitle)">
    <div class="header-container">
        <header class="site-header">
            <div onclick="javascript:window.location.href='/'" class="flex items-start self-stretch relative">
                <div class="flex flex-col relative py-4 z-10 text-white font-medium ob-drop-shadow cursor-pointer">
                    <span class="flex text-4xl"
                          th:text="${#strings.isEmpty(title) ? site.title : title}"></span>
                    <span class="font-extrabold text-xs uppercase"
                          th:text="${#strings.isEmpty(subtitle) ? site.subtitle : subtitle}"></span>
                </div>
                <img class="logo-image" th:src="${site.logo}" alt="site-logo"></div>
            <!-- 导航栏中间 -->
            <th:block th:replace="~{modules/widgets/nav-menu :: nav-menu}"></th:block>
            <!-- 导航栏右侧 -->
            <div th:replace="~{modules/widgets/nav-right :: nav-right}"></div>
        </header>
    </div>
</nav>

</html>