<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="post-list"
          th:with='postItems=${posts.items}'>
    <span>
        <p id="article-list"
           class="relative opacity-90 flex items-center pt-12 pb-2 mb-8 text-3xl text-ob-bright uppercase">
            <svg data-v-729e93ea="" class="svg-icon inline-block mr-2 inline-block mr-2"
                 aria-hidden="true">
                <use data-v-729e93ea="" href="#icon-article" fill="currentColor"
                     stroke="var(--background-primary)"></use>
            </svg> 文章列表
            <span class="absolute bottom-0 h-1 w-24 rounded-full"
                  style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);"></span>
        </p>
    </span>
    <div class="main-grid">
        <div class="flex flex-col relative">
            <ul class="tab">
                <li class="active">
                    <span class="first-tab" style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);">All</span>
                </li>
                <li class=""><span>Algorithm</span><b>4</b></li>
            </ul>
            <span class="tab-expander">
                <svg data-v-729e93ea="" class="svg-icon" aria-hidden="true">
                    <use data-v-729e93ea="" href="#icon-chevron" fill="currentColor"
                         stroke="var(--background-primary)"></use>
                </svg>
            </span>
            <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
                <li th:each="post : ${posts.items}" data-v-42e513fd="" class="article-container">
                    <span data-v-42e513fd="" class="article-tag">
                        <b data-v-42e513fd="">
                            <svg data-v-729e93ea="" data-v-42e513fd="" class="svg-icon"
                                 aria-hidden="true">
                                <use data-v-729e93ea="" href="#icon-hot" fill="currentColor"
                                     stroke="var(--background-primary)">
                                </use>
                            </svg> Featured</b>
                    </span>
                    <div data-v-42e513fd="" class="article">
                        <div data-v-42e513fd="" class="article-thumbnail">
                            <img data-v-42e513fd="" alt="" lazy="loading"
                                 th:src="@{/themes/theme-aurora/assets/img/default-cover.jpg}">
                            <span data-v-42e513fd="" class="thumbnail-screen"
                                  style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);"></span>
                        </div>
                        <div data-v-42e513fd="" class="article-content">
                                                <span data-v-42e513fd="">
                                                    <b data-v-42e513fd="">Aurora</b>
                                                    <ul data-v-42e513fd="">
                                                        <th:block th:if="${not #lists.isEmpty(post.tags)}">
                                                            <li data-v-42e513fd="" th:each="tagName : ${post.spec.tags}"
                                                                th:with="tag = ${tagFinder.getByName(tagName)}">
                                                                <a th:href="@{${tag.status.permalink}}">
                                                                    <em data-v-42e513fd="">#
                                                                        [[${tag.spec.displayName}]]</em>
                                                                </a>
                                                            </li>
                                                        </th:block>
                                                    </ul>
                                                </span>
                            <a data-v-42e513fd="" th:href="@{${post.status.permalink}}" class="">
                                <h1 data-v-42e513fd="" data-dia="article-link"
                                    th:text="${post.spec.title}"></h1>
                            </a>
                            <p data-v-42e513fd="" th:text="${post.spec.excerpt.raw}"></p>
                            <div data-v-42e513fd="" class="article-footer">
                                <div data-v-42e513fd="" class="flex flex-row items-center"><img
                                        data-v-42e513fd="" class="hover:opacity-50 cursor-pointer"
                                        th:src="@{/assets/img/ObsidianestLogo.png}"
                                        alt="author avatar">
                                    <span data-v-42e513fd="" class="text-ob-dim">
                                        <strong data-v-42e513fd=""
                                                class="text-ob-normal pr-1.5 hover:text-ob hover:opacity-50 cursor-pointer">三钻</strong>
                                        shared on May 2, 2021
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- 分页 -->
            <div th:replace="~{modules/widgets/page :: page('',${posts})}"></div>
        </div>
        <div th:replace="~{modules/aside :: aside(widgets = null)}"></div>
    </div>
</th:block>

</html>


