<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout :: html(htmlType = 'category',content = ~{::content})}">
<th:block th:fragment="content">
    <th:block th:replace="~{macro/app-banner :: app-banner(img=${theme.config.top.category_img})}"/>
    <div class="main-grid">
        <th:block th:replace="~{macro/post-list :: post-list('category',${posts.items},${theme.config.article.category_number})}"/>
        <div th:replace="~{modules/aside :: aside(${theme.config.sidebar.widgets.categoryWidgets})}"></div>
    </div>

</th:block>
</html>
