<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout :: html(htmlType = 'index',content = ~{::content},title = ${'首页' + ' | ' + site.title})}">
<th:block th:fragment="content">
    <th:block th:replace="~{macro/app-banner :: app-banner(img=${theme.config.top.index_img})}"/>
    <div class="relative z-10">
        <div class="block">
            <th:block th:replace="~{modules/feature-article :: feature-article}"></th:block>
            <th:block th:replace="~{modules/main :: main}"></th:block>
        </div>
    </div>
</th:block>

<!--data-v-[0-9a-z]*=""-->