<th:block th:fragment="post-list(type,postItems)">
    <div class="flex flex-col relative">
        <style>
            .active span {
                background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);
            }
        </style>
        <ul th:if="${type=='tag'}" th:with="tags = ${tagFinder.listAll()}" class="tab"
            style="z-index: 9;">
            <li th:classappend="${tag==null}?'active':''">
                <span class="first-tab" style="">全部</span>
            </li>
            <li th:each="tagItem : ${tags}" th:classappend="${tagItem==tag}?'active':''">
                <span th:text="${tagItem.spec.displayName}"></span><b th:text="${tagItem.status.postCount}"></b>
            </li>
        </ul>
        <ul th:if="${type=='category'}" th:with="categories = ${categoryFinder.listAll()}" class="tab"
            style="z-index: 9;">
            <li th:classappend="${category==null}?'active':''">
                <span class="first-tab" style="">全部</span>
            </li>
            <li th:each="categoryItem : ${categories}" th:classappend="${categoryItem==category}?'active':''">
                <span th:text="${categoryItem.spec.displayName}"></span><b th:text="${categoryItem.status.postCount}"></b>
            </li>
        </ul>
        <span class="tab-expander" style="z-index: 999;">
            <svg class="svg-icon" aria-hidden="true">
                <use href="#icon-chevron" fill="currentColor"
                     stroke="var(--background-primary)"></use>
            </svg>
        </span>
        <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
            <li th:each="post : ${posts.items}" class="article-container">
                    <span class="article-tag">
                        <b>
                            <svg class="svg-icon"
                                 aria-hidden="true">
                                <use href="#icon-hot" fill="currentColor"
                                     stroke="var(--background-primary)">
                                </use>
                            </svg> Featured</b>
                    </span>
                <div class="article">
                    <div class="article-thumbnail">
                        <img alt="" lazy="loading"
                             th:src="@{/themes/theme-aurora/assets/img/default-cover.jpg}">
                        <span class="thumbnail-screen"
                              style="background: linear-gradient(130deg, rgb(36, 198, 220), rgb(84, 51, 255) 41.07%, rgb(255, 0, 153) 76.05%);"></span>
                    </div>
                    <div class="article-content">
                        <span>
                            <b>Aurora</b>
                            <ul>
                                <th:block th:if="${not #lists.isEmpty(post.tags)}">
                                    <li th:each="tagName : ${post.spec.tags}"
                                        th:with="tag = ${tagFinder.getByName(tagName)}">
                                        <a th:href="@{${tag.status.permalink}}">
                                            <em># [[${tag.spec.displayName}]]</em>
                                        </a>
                                    </li>
                                </th:block>
                            </ul>
                        </span>
                        <a th:href="@{${post.status.permalink}}" class="">
                            <h1 data-dia="article-link"
                                th:text="${post.spec.title}"></h1>
                        </a>
                        <p th:text="${post.spec.excerpt.raw}"></p>
                        <div class="article-footer">
                            <div class="flex flex-row items-center">
                                <img class="hover:opacity-50 cursor-pointer"
                                     th:src="@{/assets/img/ObsidianestLogo.png}"
                                     alt="author avatar">
                                <span class="text-ob-dim">
                                    <strong class="text-ob-normal pr-1.5 hover:text-ob hover:opacity-50 cursor-pointer">三钻</strong>shared on May 2, 2021</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- 分页 -->
        <div th:replace="~{modules/widgets/page :: page('',${posts})}"></div>
    </div>
</th:block>