<th:block th:fragment="post-stats(post)">
    <div class="post-stats"
         th:with="wordCount = ${#strings.length(post.content.content)}">
            <span>
                <svg class="svg-icon"
                     style="height: 1.25em; width: 1.25em;">
                    <use href="#icon-clock-outline" fill="none"
                         stroke="white"></use>
                </svg>
                <span class="pl-2 opacity-70">[[${wordCount / 400}]] mins.</span>
            </span>
        <span>
                <i class="roozenfont roozen-file-word"></i>
                <span class="pl-2 opacity-70">[[${wordCount}]]</span>
            </span>
        <span>
            <svg class="svg-icon h-5 w-5 h-5 w-5"
                 style="height: 1.25em; width: 1.25em;">
                <use href="#icon-hot" fill="none"
                     stroke="white"></use>
            </svg>
            <span class="pl-2 opacity-70">
                <span class="waline-pageview-count"
                      th:text="${post.stats.visit}"></span>
            </span>
        </span>
        <!--                                        //todo 显示评论数量-->
        <!--                                        <span>-->
        <!--                                            <svg  class="svg-icon h-5 w-5 h-5 w-5" -->
        <!--                                                 style="height: 1.25em; width: 1.25em;">-->
        <!--                                                <use  href="#icon-quote" fill="none"-->
        <!--                                                     stroke="white"></use>-->
        <!--                                            </svg>-->
        <!--                                            <span class="pl-2 opacity-70">-->
        <!--                                                <span class="waline-comment-count"-->
        <!--                                                      data-path="/post/aurora%2Fcustom-quotes">1</span>-->
        <!--                                            </span>-->
        <!--                                        </span>-->
    </div>
</th:block>